* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* --> LOADING SPINNER <-- */

.spin-wrapper{
    // position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    animation: loader 3s;
    visibility: visible;
    
  
    .spinner{
      position: fixed;
      height: 60px;
      width: 60px;
      border: 3px solid transparent;
      border-top-color: #FF79DA;
      top: 50%;
      left: 50%;
      margin: -30px;
      border-radius: 50%;
      animation: spin 6s;
      animation-fill-mode: both;
    
      
      &:before, &:after{
        content:'';
        position: absolute;
        border: 3px solid transparent;
        border-radius: 50%;
      }
      
      &:before{
        border-top-color: #9356DC;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -12px;
        animation: spin 8s;
      }
      
      &:after{
        border-top-color: #99E2D0;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;  
        animation: spin 7s;
      }
    }
  }
  
  @keyframes loader {
    0%{background-color: hsla(0, 0%, 100%, .9);}
    100%{ opacity:0;
    visibility: hidden;
    z-index: -1000;}
}

  @keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);
    visibility: hidden;}
  }



header {
    text-align: center;
    padding-bottom: 15px;
}

.logoHeader {
    width: 40%;
    height: 80%;
    padding-top: 10px;
}

.location {
    text-align: center;
    background-color: rgb(230, 228, 228);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    border-top: solid 3px rgb(210, 210, 210);
    
}

.info {
    background-color: rgb(241, 240, 240);
}

.texteInfo {
    padding: 10px 15px 40px 15px;
    text-align: center;
}

h1 {
    font-size: 1.3em;
}

.decouvreInfo {
    font-size: 1em;
}

.btnInfo {
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 50px;
    padding: 15px;
    border: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.btnInfo:hover {
    cursor: pointer;
    filter: brightness(1.10);
    transform: scale(1.05);
    box-shadow: .25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
}

.btnNav {
    background: rgb(243, 243, 243);
    border-radius: 25px;
    padding: 1.5rem;
    margin: 10px;
    border: none;
    text-align: left;
    position: relative;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(199, 199, 199);
    counter-reset: compteList;
}

nav {
    display: flex; 
    flex-direction: column;
    padding: 10px 10px 50px 10px;
    counter-reset: compteListe;
}

h2 {
    margin-left: 15px;
}

.btnNav::before {
    background: #9356DC;
    counter-increment: compteListe 1;
    content: counter(compteListe)"";
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    position: absolute;
    left: -10px;
}

.iconNav1 {
    margin-right: 35px;
    color: grey;
    font-size: 18px;
}

.iconNav2 {
    margin-right: 35px;
    color: grey;
    font-size: 18px;
}

.iconNav3 {
    margin-right: 35px;
    font-size: 18px;
    color: #9356DC;
}

.texteNav {
    font-size: 16px;
    font-weight: bold;
}

.background {
    background-color: #f2e8fd;
}


.restaurant {
    background:rgb(230, 228, 228);
    padding: 30px 10px 30px 10px;

}

.imgRestaurant {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.cardRestaurant {
    border-radius: 1.5rem;
    background-color: white;
    margin-bottom: 15px;
    position: relative;
    color: black;
}

a {
    text-decoration: none;
}

.nouveau {
    background-color: #99E2D0;
    color: #1b6150;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.25rem;
    position: absolute;
    right: 15px;
    top: 15px;
}

.texteCard {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
}

h3 {
    margin: 0;
}

.placeRestaurant {
    margin-top: 5px;
}

.iconHeart {
    position: absolute;
    font-size: 30px;
    right: 30px;
    bottom: 30px;
}

.iconHeart:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#9256dc), to(#FF79DA));
    background: -moz-linear-gradient(top, #9256dc 0%, #FF79DA 100%);
    background: linear-gradient(to bottom, #9256dc 0%, #FF79DA 100%);
    background: -webkit-linear-gradient(top, #9256dc 0%, #FF79DA 100%);
    background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color:transparent;
        color:transparent;
    transform: scale(1.2);
}

.conteneurCard {
    align-items: center;
}

footer {
    background: rgb(59, 59, 59);
    color: white;
    padding: 15px;
}

.texteFooter {
    list-style: none;
    padding: 0 5px 0 5px;
}

.logoFooter {
    width: 40%;
    color: white;
    font-family: Shrikhand, sans-serif;
    font-size: 1.2rem;
    margin: 0 10px;
}

.iconFooter1 {
    margin-right: 15px;
}

.iconFooter2 {
    margin-right: 10px;
}

.footerLink {
    text-decoration: none;
    color: white;
    margin: 10px;
}

li {
    margin-top: 7px;
}

